/* .meal-card-holder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} */

.meal-card-group{
    flex: 1 0 32%;
    max-width: 28%;
    flex-direction: column;
    display: flex;
    margin: 2.66%;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.3s ease-in-out;
}

.meal-card-group:hover {
    transform: scale(1.02);
}

.card-title{
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:rgb(122, 122, 122);
}

.macros-container{
    display: flex;
    justify-content: space-evenly;
}

.macro-group{
    text-align: center;
}

.meal-card-thumb{
    background-color: thistle;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease-in-out; 
}

